.navbar-default .navbar-collapse{
    border:none !important; ;
}
.navbar-default .navbar-nav>li>a{
    color: #e5e5e5;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
    background: #0D7367;
    border-color: #0D7367
}
.pagination>li>a, .pagination>li>span{
    color: #0D7367;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    cursor: pointer;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: none !important;
}

.navbar-brand{
    padding-left: 7px !important;
}

.navbar-nav>li>a{
    padding-bottom: 9px;
    padding-top: 9px;
}

@media (min-width: 768px){
    .navbar-header {
        height: 5.6em;
    }
}
