.tp{padding-top:15px;}
.double-gap-top{padding-top:30px;}
.datepicker table tr td.active:hover,.datepicker table tr td.active:hover:hover,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active.disabled:hover:hover,.datepicker table tr td.active:active,.datepicker table tr td.active:hover:active,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active.active,.datepicker table tr td.active:hover.active,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled:hover.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active:hover.disabled,.datepicker table tr td.active.disabled.disabled,.datepicker table tr td.active.disabled:hover.disabled,.datepicker table tr td.active[disabled],.datepicker table tr td.active:hover[disabled],.datepicker table tr td.active.disabled[disabled],.datepicker table tr td.active.disabled:hover[disabled]{background:#2091cf;}
.rs-wrap{margin:0 auto;}
.transition-btn-wrap{margin-top:-90px;}
.rs-arrows a{font-size:72px;line-height:72px;color:#555555;position:absolute;top:50%;margin-top:-30px;font-family:arial;color:#aaaaaa;text-decoration:none;text-align:center;opacity:0.7;}
.rs-arrows a:hover{opacity:1;}
.rs-arrows a.rs-next{right:-20px;left:auto;}
.box-wrap{border-radius:5px;background:#FFF;border-bottom:solid 3px #DDD;box-shadow:0 0 0 1px #EEE;}
.box-heading{background-color:#FAFAFA;padding:15px;border-bottom:solid 1px #ccc;border-radius:5px 5px 0 0;}
.box-heading h4{margin:0;}
.box-inner{padding:15px;}
.control-group:last-child{margin-bottom:0;}
h3.bootstro{margin:0;}
