@media(max-width: 768px){

    div.collapse > ul.pull-right{
        float: none !important;

    }
    .navbar-default .navbar-nav>li>a {
        color: #FFFFFF !important;
    }
    .nav>li>a{
       padding:  2px;
        text-align: center;
    }
    .my-menu > li {
        background: none !important;
        margin: 0 !important;
        color: #FFFFFF !important;
        border-radius: 0 !important;
    }
    .my-menu > li.login{
        text-align: center !important;
    }
    .my-menu > li.login > a{
        display: inline;
    }
    #logo-descp{
        display: none;
    }
    .event-list > li > time > .day{
        text-align: center;
        padding-left: 0;
    }
    .event-list > li > .info{
        padding-left: 1.5em;
        padding-bottom: 1em;
    }

}
