
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0 auto;
}
.nbs-flexisel-item {
    float: left;
    margin:0px;
    padding:0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-item > a > img {
    cursor: pointer;
    positon: relative;
    margin-top:10px;
    /*margin-bottom: 10px;*/
    max-width:250px;
    /*max-height:250px;*/
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
}
.nbs-flexisel-item p{
    max-width:250px;
    padding:20px;
    background: #222222;
    color: #FFFFff;
    overflow: hidden;
}

.nbs-flexisel-item p a:hover{
    color:#6CC372;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width:28px;
    height:29px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.nbs-flexisel-nav-left {
    left:-80px;
    background: url(../images/img-sprite.png) no-repeat -170px -60px;
}
.nbs-flexisel-nav-right {
    right:-80px;
    background: url(../images/img-sprite.png) no-repeat -190px -60px;
}
.middle-bottom{
    background:#f0f0f0;
    padding:5% 0 20% 0;
    border-bottom: 2px ridge #FFF;
}
/*--responsive design--*/
@media (max-width:1366px){
    .nbs-flexisel-nav-left{
        left:-40px;
    }
    .nbs-flexisel-nav-right{
        right:-20px;
    }

}
@media (max-width:1280px){
    .nbs-flexisel-nav-left{
        left:-40px;
    }
    .nbs-flexisel-nav-right{
        right:-40px;
    }
}
@media (max-width:1024px){
    .nbs-flexisel-nav-left{
        left:-40px;
    }
    .nbs-flexisel-nav-right{
        right:-40px;
    }
}
@media (max-width:800px){
    .nbs-flexisel-nav-left{
        left:-30px;
    }
    .nbs-flexisel-nav-right{
        right:-30px;
    }
    .nbs-flexisel-item > img {
        max-width:150px;
        max-height:150px;
    }
    .nbs-flexisel-item p a{
        font-size:12px;
    }
}
@media (max-width:768px){
    .nbs-flexisel-nav-left{
        left:-30px;
    }
    .nbs-flexisel-nav-right{
        right:-30px;
    }
    .nbs-flexisel-item > img {
        max-width:150px;
        max-height:150px;
    }
    .nbs-flexisel-item p a{
        font-size:12px;
    }
}
@media (max-width:640px){
    .nbs-flexisel-nav-left{
        left:-30px;
    }
    .nbs-flexisel-nav-right{
        right:-30px;
    }
    .nbs-flexisel-item > img {
        max-width:150px;
        max-height:150px;
    }
    .nbs-flexisel-item p a{
        font-size:12px;
    }
}
@media (max-width:480px){
    .nbs-flexisel-nav-left{
        left:0px;
    }
    .nbs-flexisel-nav-right{
        right:0px;
    }
    .nbs-flexisel-item > img {
        max-width:150px;
        max-height:150px;
    }
    .nbs-flexisel-item p a{
        font-size:12px;
    }
}
@media (max-width:320px){
    .nbs-flexisel-nav-left{
        left:0px;
    }
    .nbs-flexisel-nav-right{
        right:0px;
    }
    .nbs-flexisel-item p a{
        font-size:12px;
    }
}

