*{
    font-family: 'Lato', 'Segoe UI', sans-serif;
    text-align: justify;
    margin: 0;
}
html{


}

p{
    font-size: 1em;
}
h1{
    font-weight: 100;
}
h3{
    font-weight: 300;

}
h5{
    font-weight: 400;
}
.lg-font{
    font-size: 1.8em;
}
.md-font{
    font-size: 1.4em;
}
.heading-title:nth-child(2), .heading-title:nth-child(3),.heading-title:nth-child(4){
    line-height: 1.7;
}

.heading-title h2{
    color: #0D7367;
}
.heading-info > h3{
    /*margin-left: 6.6em;*/
    margin: 0;
}
.no-margin{
    margin: 0;

}
.white-text{
    color: #FFFFFF;
}
.black-text{
    color: #000000;
}
body{
    /*padding-top: 7em ;*/
    /*background: rgba(0, 0, 0, 0.3);*/
    /*margin-top: 55px;*/
    /*border: solid thin red;*/
    padding-top: 50px;
}

.pg-title{
    text-transform: uppercase;
    border-bottom:solid thin #eee;
    margin: 0 0 0.3em;
    color: #0D7367;
}
.m_nav{
    /*background: #0D7367;*/
    color: #aaa;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    /*height: 5.6em;*/
    box-shadow: 2px 2px 5px #A8A8A8;
    margin: 0 !important;
}
.padding-all{
    padding: 0.5em;
}
.margin-all{
    margin: 1em;
}
.my-menu{
    margin-right: 2em;
    margin-top: 2em;
}

.my-menu > li.login {
    margin: 0 0 0 4em;
    color: #FFFFFF;
    opacity: 1;

}
.my-menu > li.login > a{
    color: #FFFFFF;
    padding-top: 2px;
}
.my-menu > li >a:hover{
    color: #FFFFFF !important;
}
.my-menu > li.dropdown >a:hover{
    color: #FFFFFF !important;
}
.my-menu > li.selected {
    background: #FFFFFF;
    margin: 0 0.3em;
    color: #0D7367;
    border-radius: 1.5em !important;
    opacity: 1;
}
.my-menu > li.selected:hover >a, .my-menu > li.login > a:hover{
    font-size: 1em!important;
}
.my-menu > li.selected > a{
    color: #0D7367 !important;
    font-weight: 600;
}
.theme-background{
    background: #0D7367;
}

.theme-color{
    color: #0D7367;
}
.content{
    padding: 0 0 0 3em;
}
#page-main{
    margin-top:50px ;
    min-height: 36em;
    width: 80%;
}
#top{
    margin: 2.5em 2em 2em 2em;
}
.loading{
    width: 2em;
    margin: 0 auto;
}

.heading-info > h3 > .fa, .heading-info > h3 > .glyphicon{
    font-size: 1.5em;
    color: #0D7367;
}
.heading-info{
    margin-bottom: 2.5em;
}
.settings{
    font-size: 2.5em;
    color: #97fff5;
}
.acc_pane{
    /*margin:2em 2em 1em;*/
    box-shadow: 1px 1px 1px #84A99B;
    background: rgba(11, 11, 11, 0.02);
    border-top: solid 5px #0D7367;
    padding: 1.3em;
    /*margin: 2em;*/
}
.acc_pane_odd{
    border-top: solid 5px #a7167e !important;
}

.rs-slider{
    width: 80%;
    margin: 0 auto;
}

img.rs-slide-image{
    /*margin: 0 auto;*/
}
ul#images > li.group > img{
    box-shadow: 3px 3px 5px #979797;
}

#slider-panel{
    margin-top: 0.3em;
}
.conf-details{
    margin-top: 2.3em;
    border-top: solid 1px #ECEAEA;
    padding-top: 0.5em;
}
.conf-icons{
    margin-bottom: 1em;
}
.conf-img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    /*margin: 0 auto;*/
    margin-bottom: 0.5em;
}
.conf-img > p{
    line-height: 1;
    background: rgba(0, 0 ,0 , 0.5);
    color: #FFFFff;
    text-align: center
}
#fac1{
    background: #16000f url("../images/opeyemi.jpg") no-repeat;
    background-position: -3.3em -1em;

}
#fac2{
    background: #16000f url("../images/matt.JPG") no-repeat;
    background-position: 0 1.5em;

}
#fac3{
    background: #16000f url("../images/kehinde.jpg") no-repeat;
    background-position: 0 1.5em;
}
#fac4{
    background: #16000f url("../images/dayo.jpg") no-repeat;
    background-position: -4em -3em;
}

.double-border{
    border-top:solid 1px #dddddd;
    border-bottom:solid 1px #dddddd;
    height:5px;
    margin:40px 0;
}

.double-spacing{
    height:2em;
}


a{
    color: #0D7367;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #0D7367;
}

.social-links{
text-align: center;
    font-size: 3em;
}

.testimonial{
    margin: 1em auto;
    text-align: center;
}
.testimonial > p{
    font-size: 1.2em;
}

.social-links > a > span{
 margin: 0 0.1em;
}
.social-links > a > span:hover{
 margin-top:0.3em
}
.social-links > a >.fa-facebook-square, .fa.fa-facebook,.facebook{
    color: #7490c3;
}
.social-links > a >.fa-facebook-square:hover, .facebook:hover{
    color: #829bc9;
}
.social-links > a >.fa-google-plus-square, .fa.fa-google-plus, .google-plus{
    color: #db6b67;
}
.social-links > a >.fa-youtube-square, .youtube{
    color: #db6b67;
}
.social-links > a >.fa-linkedin-square, .linkedin{
    color: #069;
}
.social-links > a >.fa-google-plus-square:hover, .google-plus:hover{
    color: #E62117;
}
.social-links > a >.fa-twitter-square, .fa.fa-twitter, .twitter{
    color: #70aecd;
}
.social-links > a >.fa-twitter-square:hover, .twitter:hover{
    color: #7fb7d2;
}


textarea{
    resize: none;
    max-height: 13em;
}
textarea, input, select, input:active, input:focus, textarea:focus, textarea:active{
    border: solid thin #cccccc !important;
    box-shadow: none !important;
}
input[type="submit"].my-btn{
    height: 3.5em;
    width: 6em;
    background:#0D7367;
    color: #FFFFFF;
}
.my-heading{
    margin: 1em 0 2em;
}
.my-heading > h3{
    text-align: center !important;

}
.my-heading h4{
    border-bottom: solid thin #aaaaaa;
    padding: 0 0 0.3em;
}
select{
    width: 100%;
    height: 2.5em;
    border-radius: 0.4em;
    padding: 0 0 0 0.7em;
}
.my-btn, button.selected-page{
    background: #0D7367;
    color: #FFFFFF;
}
.my-btn2:hover, .my-btn:hover{
    color: #ffffff;
}
.my-btn2{
    background: #A7167E;
    color: #ffffff;
}
.large_button{
    width: 10em;
    height: 3.5em;
    font-size: 1.5em;
    text-align: center;
}
.large_font{
    font-size: 2.3em;
}
.btn.course_page:active, .btn.course_page:focus, .my-btn:active, .my-btn:focus{
    background: #0D7367 !important;
    border: none !important;
    color: #FFFFFF;
    box-shadow: none !important;
}
.info-msg{
    border-bottom: solid thin #e1edf7;
}
.login_form{
    margin: 7em auto 4em ;
    /*width: 50%;*/
}
.comp_form{
    width: 60%;
    margin: 5em auto;
}
.course{
    /*opacity: 0.7;*/
}
.cursor{
    cursor: pointer;
}
.course_selected{
    /*background: rgba(13, 115, 103, 0.42);*/
    /*opacity: 1.0;*/
}
#info_content{
    /*margin: 2em;*/
    /*padding: 1em;*/
    border-top: solid 5px #f0ad4e;
}
.credits >li{
    width: 20em;
    height: auto;
    text-align: center;
    padding: 1em;
    margin: 0 1em;
    box-shadow: 2px 2px 5px #84A99B;
}
.credits >li:nth-child(1n){
    background: rgba(255, 220, 62, 0.40);
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}
.credits >li > h2{
    text-align: left;
    font-size: 1.5em;

}
.credits >li:nth-child(1n) > h2{
    border-bottom: solid 3px #f07b1a;
}
.credits >li:nth-child(1n) > h2 >span.fa{
    color: #f07b1a;
    font-size: 0.6em;
}

.credits >li:nth-child(2n){
    background: rgba(215, 10, 88, 0.36);
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);

}
.credits >li:nth-child(2n) > h2{
    border-bottom: solid 3px rgba(215, 10, 88, 0.96);
}
.credits >li:nth-child(2n) > h2 >span.fa{
    color: rgba(215, 10, 88, 0.96);
    font-size: 0.6em;
}
.credits >li:nth-child(3n){
    background: rgba(218, 79, 254, 0.36);
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);

}
.credits >li:nth-child(3n) > h2{
    border-bottom: solid 3px rgba(195, 7, 254, 0.96);
}
.credits >li:nth-child(3n) > h2 >span.fa{
    color: rgb(195, 7, 254);
    font-size: 0.6em;
}
.credits >li:nth-child(4n){
    background: rgba(0, 214, 221, 0.37);
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}
.credits >li:nth-child(4n) > h2{
    border-bottom: solid 3px rgba(29, 137, 221, 0.97);
}
.credits >li:nth-child(4n) > h2 >span.fa{
    color:  rgba(29, 137, 221, 0.97);
    font-size: 0.6em;
}
.credits >li:nth-child(5n){
    background: rgba(1, 254, 64, 0.40);
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(12deg);
}
.credits >li:nth-child(5n) > h2{
    border-bottom: solid 3px rgb(68, 169, 76);
}
.credits >li:nth-child(5n) > h2 >span.fa{
    color: rgb(68, 169, 76);
    font-size: 0.6em;
}
.credits >li:nth-child(6n){
    background: rgba(180, 254, 45, 0.40);
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
}
.credits >li:nth-child(6n) > h2{
    border-bottom: solid 3px rgb(167, 145, 0);
}
.credits >li:nth-child(6n) > h2 >span.fa{
    color:   rgb(167, 145, 0);
    font-size: 0.6em;
}

.credits-text{
    font-size: 1.3em;
    letter-spacing: -0.5px;
}

.loading_panel{
    padding: 7em;
}
#requestLoading{
    font-size: 2.5em;
}
a.btn_link{
    color: #FFFFff; !important
}

div.acc_pane >ul.list_unstyled > li{
    margin: 10.3em 0;
}

li.list{
    margin: 1.5em 0;

}

li.list.active{
    background: #A7167E;
    padding: 1.3em;
    color: #FFFFff;
    border-radius: 10px;
}
li.list.active a{
    color: #FFFFff;
}

.tab-content{
    padding: 2em 0;
}
.naira{
    text-decoration: line-through;
}
#footer{
    text-align: center;
    padding: 1em 4em;
    margin:2em 2em 1em;
    box-shadow: 2px 2px 5px #84A99B;
    background: rgba(11, 11, 11, 0.02);
}
.myForm-inline{
    display: inline;
}
.title > h4{
    margin-bottom: 0;
}

.small_div > .title{
    border-bottom: solid 2px #000000;
    margin-bottom: 2px;
}
.title > p{
    margin: 0;
    padding: 0;
}
.small_div{
    width: 350px;
    float: left;
    border: solid 2px #000;
    margin: 3.5em;
    padding: 0.4em;
}

.training_list{
    border-left: solid 2px #A7167E;
    margin-bottom: 2em;
    padding-left: 0.5em;
}
.training_list:nth-of-type(2n){
    border-left: solid 2px #0D7367;

}

.overflow_list{
    max-height: 40em;
    overflow-y: auto;
}

h2.emptyRecord{
    font-size: 4em;
    color: #c0bcbc;
    text-align: left;
}

.info-img{
    text-align: center;
    box-shadow: 2px 2px 5px #dadada;
    background: rgba(255, 255, 255, 0.02);
    overflow: hidden;
}
.info-panel > h2, .info-head > h9{
    font-size: 1.3em;
    color: #0d7367;
}
.rs-arrows{
    display: none !important;
}


#logo-descp{
    margin-left: 33px;  position:relative; top: 6px;
}
.row-heading{
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 10px;
    font-weight: 500;

}
#login_phase2{
    border-left: solid thin #F0E9E9;
    padding-left: 2em;
}
.socialApi{
    margin-bottom: 0.4em;
}
.carousel-inner{
    margin-top:10px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.slider-pointer{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 40px;
}